In [66]:
import quandl
mydata=quandl.get("USTREASURY/YIELD", authtoken="VsAYAhxFYshtzwxpzBjc", start_date="1900-12-31", end_date="2022-12-31")
mydata.head()


ten_years = mydata[['10 YR']]
ten_years.tail()

            10 YR
Date
2021-03-02   1.42
2021-03-03   1.47
2021-03-04   1.54
2021-03-05   1.56
2021-03-08   1.59

In [22]:
import os
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi

In [25]:

# Set Alpaca API key and secret
alpaca_api_key = "PKH5KT34RJUXF95LHESN"
alpaca_secret_key = "lHxmhJKP8tkTZ4jmbhBGPZEYSoRwAI2QiAL6ZZSt"

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [43]:
# Set the ticker
ticker = ["XLY", "XLP", "XLE","XLF", "XLV", "XLI", "XLB", "XLK", "XLU"]

timeframe = "1D"


all_ticker_data = api.get_barset(
ticker,
timeframe,
start = pd.Timestamp('2010-01-01', tz="America/New_York").isoformat(),
end = pd.Timestamp('2015-01-01', tz="America/New_York").isoformat(),
limit = 1000
).df

all_ticker_data.head()

                              XLB                                  XLE         \
                             open   high    low  close   volume   open   high
time
2011-01-11 00:00:00-05:00  38.530  38.70  38.42  38.67  6168921  68.50  69.22
2011-01-12 00:00:00-05:00  38.970  39.11  38.83  39.04  6779357  69.75  70.13
2011-01-13 00:00:00-05:00  39.010  39.08  38.62  38.73  6378074  70.20  70.35
2011-01-14 00:00:00-05:00  38.640  38.80  38.40  38.77  7431531  69.80  70.67
2011-01-18 00:00:00-05:00  38.845  39.05  38.81  39.03  7646097  70.59  71.13

                                                    ...    XLV                 \
                              low  close    volume  ...   open   high     low
time                                                ...
2011-01-11 00:00:00-05:00  68.360  69.17  10827104  ...  32.06  32.19  32.010
2011-01-12 00:00:00-05:00  69.430  70.03  10363482  ...  32.28  32.36  32.180
2011-01-13 00:00:00-05:00  69.638  69.91  11020505  ...  32.22  32.22  32.050
2011-01-14 00:00:00-05:00  69.480  70.64  13029041  ...  32.08  32.18  32.060
2011-01-18 00:00:00-05:00  70.380  71.09  12242414  ...  32.19  32.31  32.165

                                             XLY                           \
                           close   volume   open     high      low  close
time
2011-01-11 00:00:00-05:00  32.15  3225963  37.94  37.9500  37.5664  37.67
2011-01-12 00:00:00-05:00  32.31  2724814  37.86  37.9000  37.6600  37.75
2011-01-13 00:00:00-05:00  32.14  6460502  37.75  37.8200  37.5900  37.69
2011-01-14 00:00:00-05:00  32.17  3748018  37.62  37.9500  37.5700  37.93
2011-01-18 00:00:00-05:00  32.31  7959994  38.02  38.0864  37.9200  38.04


                             volume
time
2011-01-11 00:00:00-05:00   3018615
2011-01-12 00:00:00-05:00  20943967
2011-01-13 00:00:00-05:00   4573908
2011-01-14 00:00:00-05:00   4483811
2011-01-18 00:00:00-05:00   3971481

[5 rows x 45 columns]

In [84]:
ticker = ["XLY", "XLP", "XLE","XLF", "XLV", "XLI", "XLB", "XLK", "XLU"]

timeframe = "1D"
year_start=1990
year_list=[]
while year_start < 2022:
    year_list.append(year_start)
    year_start +=1

ticker_data = []
for my_year in year_list:
    
    start_date=str(my_year)+'-01-01'
    end_date=str(my_year)+'-12-31'

    data = api.get_barset(
    ticker,
    timeframe,
    start = pd.Timestamp(start_date, tz="America/New_York").isoformat(),
    end = pd.Timestamp(end_date, tz="America/New_York").isoformat(),
    limit = 1000
    ).df
    ticker_data.append(data)
    
all_ticker_data = pd.concat(ticker_data, axis="rows", join="inner")

all_ticker_data.index.rename("Date", inplace=True)
all_ticker_data.index = pd.to_datetime(all_ticker_data.index.date)


all_ticker_data.head()

              XLB                                   XLE                       \
             open   high    low  close    volume   open   high    low  close
2008-01-02  41.70  41.95  40.98  41.33   9483635  79.95  80.30  79.27  79.75
2008-01-03  41.52  42.17  41.45  41.80   8699808  79.94  80.75  79.85  80.21
2008-01-04  41.42  41.57  40.70  40.74  13370213  79.50  79.74  77.88  78.01
2008-01-07  40.81  41.06  39.67  40.25  16971407  78.00  78.61  76.23  77.04
2008-01-08  40.40  41.07  39.55  39.60  21112177  77.88  78.19  75.85  76.08

                      ...    XLV                                  XLY         \
              volume  ...   open   high    low  close   volume   open   high
2008-01-02  18291924  ...  35.63  35.63  34.86  34.94  3915069  32.99  32.99
2008-01-03  14113740  ...  34.98  35.30  34.56  35.18  2504282  32.11  32.22
2008-01-04  24552334  ...  35.01  35.16  34.50  34.83  3214308  31.43  31.58
2008-01-07  29186338  ...  34.82  35.58  34.82  35.57  5451740  31.14  31.18
2008-01-08  20801316  ...  35.66  36.39  35.57  35.81  6210752  31.03  31.31


              low  close     volume
2008-01-02  32.11  32.13  3711800.0
2008-01-03  31.68  31.78  9585427.0
2008-01-04  30.75  30.78  5960834.0
2008-01-07  30.68  30.93  6104205.0
2008-01-08  30.31  30.32  4287009.0

[5 rows x 45 columns]

In [79]:
combine_dataframe = pd.concat([all_ticker_data ,ten_years], axis="columns", join="inner")
combine_dataframe

,"(XLB, open)","(XLB, high)","(XLB, low)","(XLB, close)","(XLB, volume)","(XLE, open)","(XLE, high)","(XLE, low)","(XLE, close)","(XLE, volume)",...,"(XLV, high)","(XLV, low)","(XLV, close)","(XLV, volume)","(XLY, open)","(XLY, high)","(XLY, low)","(XLY, close)","(XLY, volume)",10 YR
2008-01-02,41.70,41.95,40.980,41.33,9483635,79.95,80.30,79.27,79.750,18291924,...,35.630,34.860,34.94,3915069,32.99,32.99,32.11,32.13,3711800,3.91
2008-01-03,41.52,42.17,41.450,41.80,8699808,79.94,80.75,79.85,80.210,14113740,...,35.300,34.560,35.18,2504282,32.11,32.22,31.68,31.78,9585427,3.91
2008-01-04,41.42,41.57,40.700,40.74,13370213,79.50,79.74,77.88,78.010,24552334,...,35.160,34.500,34.83,3214308,31.43,31.58,30.75,30.78,5960834,3.88
2008-01-07,40.81,41.06,39.670,40.25,16971407,78.00,78.61,76.23,77.040,29186338,...,35.580,34.820,35.57,5451740,31.14,31.18,30.68,30.93,6104205,3.86
2008-01-08,40.40,41.07,39.550,39.60,21112177,77.88,78.19,75.85,76.080,20801316,...,36.390,35.570,35.81,6210752,31.03,31.31,30.31,30.32,4287009,3.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-02,75.63,76.52,75.580,75.85,7399580,49.58,49.98,49.10,49.130,35856233,...,114.590,113.640,113.76,8240279,165.16,165.52,162.95,162.98,3284693,1.42
2021-03-03,75.55,76.09,75.070,75.11,7820041,49.49,50.98,49.48,49.820,38897655,...,113.450,112.045,112.26,13282643,162.71,163.36,159.20,159.21,5483598,1.47
2021-03-04,74.96,75.26,72.340,73.62,18207700,50.30,51.96,49.83,51.030,51827843,...,112.800,109.930,110.73,23220254,159.26,160.30,152.84,155.83,8960139,1.54
2021-03-05,74.38,75.56,72.820,75.32,11573925,52.49,53.07,51.18,52.970,55204813,...,113.380,110.550,113.01,15443365,157.01,157.28,149.65,156.73,10177701,1.56
2021-03-08,75.56,77.46,75.425,76.32,14650524,53.47,53.75,52.28,53.055,49483808,...,114.525,112.600,112.70,11783561,157.45,160.22,156.74,156.90,6220626,1.59

KeyError: 'XLB'